__pycache__/

.vscode/

.DS_Store

.texpadtmp/

*.pkl
!exp/INFO*

*.log

*.txt
!requirements.txt

*.out

.ipynb_checkpoints/

.key

*.xmind

*.dep

*.sol

*.mov

*.mp4

*.gif

commands*
test*

*.lp

*.alpha

*.pg

*.POMDP

*##
